@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .header-portion {
        @apply text-2xl md:text-4xl lg:text-4xl leading-normal tracking-normal pb-4;
    }
    .body-portion {
        @apply text-base sm:text-xl leading-normal px-3 md:px-14 md:text-3xl md:w-3/4 md:mx-auto md:leading-normal lg:text-3xl lg:leading-normal w-4/5 mx-auto;

    }
}

@font-face {
    font-family: 'Authentic Sans';
    src: url('./fonts/AUTHENTICSans-90.woff2');
    font-weight:90;
}

@font-face {
    font-family: 'Authentic Sans';
    src: url('./fonts/AUTHENTICSans-130.woff2');
    font-weight:130;
}

@font-face {
    font-family: 'Authentic Sans';
    src: url('./fonts/AUTHENTICSans-150.woff2');
    font-weight:150;
}

* {
    font-family: 'Authentic Sans' !important;
}
h1 {
    font-family: 'Authentic Sans';
    font-weight: 130 !important;
}

p {
    font-weight:90;
}
