.contact{
    display:flex;
    justify-content: center;
    align-items:center;
}
input{
    width:60vw;
    margin-bottom:.5em;
}
#message{
    height:4em;
}
.contact p{
    text-align:left;
}
.contact button{
    justify-content:center;
    padding-bottom:3em;
}